.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 17px;
  margin: 2rem 0;
  color: #444;
  -webkit-border-radius: 40px;
  border-radius:40px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #d1d1d1, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #d1d1d1, -12px -12px 24px #ffffff;
}

.product > p {
  padding: 0 8px;
  text-align: left;
  font-weight: 500;
}
.button {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 6px;
  margin: 0 5px;
  cursor: pointer;
}

.buttondel {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 5px;
  cursor: pointer;
}
.inc .dec {
  background-color: #ede9fe;
}

.value {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0 3px;
}
.input {
  outline: none;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  padding: 5px 0;
  color: #6d28d9;
  text-align: center;
}
.input:focus {
  border: 2px solid #6d28d9;
}

.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
}

.removedel {
  display: none;
}

@media screen and (max-width: 715px) {
  .product {
    display: flex;
    flex-direction: column;
  }
  .button {
    margin: 5px 5px;
    padding: 5px 20px;
  }
}
