.product {
  

  border-radius: 10px;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  width: 100%;
margin: 15px 10px;
color: #444;
}
.button{
  color: #6d28d9;
  background-color: #fff ;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.buttondel{
  color: #6d28d9;
  background-color: #fff ;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.inc{
  background-color:#ede9fe ;
}

.dec{
  background-color:#ede9fe ;
}
.value{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* margin-right: 5px; */
  /* margin-top: 10px; */
}
.input{
  outline: none;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  padding: 5px 2px;
  color: #6d28d9;


  text-align: center;
}
.input:focus{
  border: 2px solid #6d28d9;
}

.remove{
  color:rgb(236,68,68);
  border:1px solid rgb(236,68,68);
}

.removedel{
  display:none;
}
